/*-- scss:rules --*/

.img-hor-vert {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.ipa {
  font-family: "Noto Sans", "Sans-Serif";
}

h1.ipa {
 font-variant-caps: all-small-caps;
 font-size: 1em;
 font-family: "Noto Sans";
 margin-bottom: 1pt;
}
.bigger {
  font-size: 30em;
}

#quarto-sidebar a{
  font-size: smaller;
}

#quarto-sidebar a:link{
  color: theme-dim($body-color, 20%);
}

#quarto-sidebar a:visited{
  color: theme-dim($body-color, 20%);
}

#quarto-sidebar {
  // background: theme-dim($body-bg, 5%);
  background-color: quarto-color.adjust(
      $progress-bg,
      $alpha: -0.65
    );
  color: $body-color;
}