/*-- scss:rules --*/

.img-hor-vert {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.reveal .slide-menu-button .fa-bars::before {
  background-image: url(' /assets/logo_small.svg') !important;
}

.ipa {
  font-family: "Voces", "Sans-Serif";
}
